@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Titillium+Web:900|Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');

* {
    font-family: "Quicksand", "Nunito", sans-serif;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.fullscreen {
    width: 100%;
    height: 100%;
    // scroll-snap-align: start;
}
.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}
.name {
    font-family: "Titillium Web", sans-serif;
}
.info {
    flex: 0 0 66.666%;
}
.section {
    
    &:nth-child(even ) {
        .section-title__number {
            left: -15px;
        }
    }
    &:nth-child(odd) {
        background: #f7f7f7;
        .section-title {
            justify-content: flex-end;
            &__number {
                right: -15px;
            }
        }
        
    }
}

.shadowed {
    border-radius: 6px;
    box-shadow: 3px -2px 6px rgba(0, 0, 0, .1);
    border: 1px rgba(0, 0, 0, .1) solid;
    box-sizing: border-box;
}

.section-title {
    flex: 0 0 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    &__body {
        position: relative;
    }
    &__number {
        font-family: "Titillium Web";
        font-weight: 900;
        font-size: 4em;
        position: absolute;
        opacity: .3;
        top: -40px;
    }

    &__text {
        font-size: 3em;
    }
    
}

@media (max-width: 1280px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .additional-skills__column {
        width: 25vw !important;
        height: 25vw !important;
        font-size: 1.2em;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 13px;
    }
    .container {
        justify-content: space-between;
        flex-direction: column;
        padding: 30px !important;
        justify-content: flex-start;
    }
    .section-title {
        flex: 0 0 15% !important;
        height: 15% !important;
        &__text {
            font-size: 2.3em;
        }
    }
    .info {
        width: 100%;
    }
    .additional-skills__column {
        min-width: auto !important;
        min-height: 0 !important;
        width: 100% !important;
        height: 17vh !important;
        font-size: 1em;
        .column-list {
            flex-direction: column;
        }
        .column-list__item {
            flex: 0 2 33.333%;
            margin: 0 !important;
        }
    }
    .section:nth-child(odd) {
            .container {
                flex-direction: column-reverse;
            }
            
        }
    .projects {
        &__list {
            flex-direction: column-reverse;
            flex-wrap: nowrap !important;
        }
        .project {
            flex: 1 0 22vh;
            margin: 10px 0;
        }
    }
    .contacts__body {
        align-items: center;
        justify-content: flex-end;
    }
    .contacts__form {
        border: 0 !important;
        box-shadow: none !important;
        background: transparent;
        padding: 30px !important;
    }
    .contacts__footer {
        height: 40% !important;
        flex-direction: column;
        .left-side {
            margin-bottom: 20px;
            .name {
                font-size: 2em !important;
                text-align: center;
            }
            .position {
                text-align: center;
                font-size: 1.1em !important;
            }
        }
        .right-side {
            height: 100%;
            .row {
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
                .column {
                    text-align: center;
                    margin: 0;
                    justify-content: center;
                }
            }
        }
    }
}